
/*http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height*/
html,
body {
    height: 100%;
    margin: 5%;
    margin-top: 0%;
    background-image: url("../img/resumeimg.jpg");

}
li{
    line-height: 30px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
nav ul li{
    float: left;
}
 nav ul li a {
    display:block;
    color: #ffffff;
    padding: 16px;
    text-align: center;
    text-decoration: none;

}
nav a:hover{
	  cursor: pointer;
	  text-decoration: underline;
}

.left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #1976D2;
    color: #ffffff;
}



.right{
    float: left;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
}


section{
    padding-left: 30px;
}


h1, h2{
    padding-left: 10px;
}


@media print {
/*https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/  Used it as a guidline. Really didnt help much. */
  html,body {
      margin: 0px;
      width: auto;
      height: auto;
  }

  nav{
      display: none;
  }
  h2{
      font-size: 16pt;
  }
  h3{
        font-size: 14pt;
  }
  h1{
      font-size: 18pt;
      text-decoration: underline;

  }

  .left , .right{
      color: #000000;
      margin: 0px;;
  }
  .right {
      padding: 0px;
  }
  section{
      padding-left: 0px;
  }

}
